body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main_container{
    flex: 1;
}

.main_article{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    color: white;
    font-weight: bold;
    flex: 1;
    margin-bottom: 25px;
}

.left_container{
    width: 350px;
    height: 705px;
    background-image: url('../img/4938059.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.right_container{
    width: 650px;
    height: 705px;
    padding: 20px;
    background-color: transparent;
    border: 3px solid #38B6FF;
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.registro_titulo{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.form_spaces1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}

.form_spaces1>input{
    width: 50%;
}

.form_spaces2{
    width: 40%;
}